body{
    background-image: url('images/book2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section{
    width: 30%;
    margin: 0 auto;
    position: relative;
    padding-top: 20px;    
}

#form_buttons{
    display: flex;
}

#my_form{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-right: 50px;
}

#add_btn{
    margin: 0;
    left: 45%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 10px;
    display: block;
    font-size: 20px;
}

h1{
    text-align: center;
    color: gold;
    font-family: allan, Arial, Helvetica, sans-serif;
    font-size: 4em;    
}

.book_card{
    border-radius: 10%;
    background-color: black;
    margin-right: 10px;
    margin-top: 10px;
    min-width: 250px;
    padding: 0px 5px 10px 0px;
}

#show_library{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#submit{
    margin-left: 30px;
    margin-top: 20px;
    font-size: 20px;
}

#cancel{
    margin-left: 30px;
    margin-top: 20px;
    font-size: 20px;
}
label{
    color: gold;
    font-size: 25px;
    font-weight: 700;
}

.book_pages, .book_author, .book_title{
    color: gold;
}

.remove_button:hover{
    background-color:red;
    color:white;
    font-size: 17px;    
}

.read_button:hover{
    background-color:red;
    color:white;
    font-size: 17px;
}

.remove_button{
    margin-left:90px;
    font-size: 18px;
    padding: 5px;
}

.read_button{
    font-size: 18px;
    padding: 7px;
}

.read_button, .book_author, .book_pages, .book_title{
    margin-left: 10px;
    font-size: 20px;
}

#read_form{
    display: flex;
}

input[type='text'], input[type='number']{
    font-size: 20px;
}

@media screen and (max-width: 506px){
    #my_form{
        margin-left: -115px;
        
    }

    h1{
        margin-left: 100px;
    }
}

@media screen and (max-width: 600px){
 
    #read{
        margin-top: 20px;
    }
  #my_form{
        margin-left: -30px;
    }
}

@media screen and (max-width: 700px){
    #my_form{
        margin-left: -80px;
    }
}

@media screen and (max-width: 1000px){
    #my_form{
        margin-left: -2px;
    }
}