body{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-image: url('images/book2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.section{
    width: 30%;
    margin: 0 auto;
    position: relative;
    padding-top: 20px;    
}

#form_buttons{
    display: flex;
}

.read_button:hover{
    color: gold;
}

.remove_button{
    margin-left: 90px;
    font-size: 1em;
    padding: 5px;
    font-weight: 600;
    background-color: red;
    color: #fff;
}

.read_button{
    font-size: 1em;
    margin-left: 15px;
    padding: 5px 15px 5px 15px;
    font-weight: 600;
    color: #fff;
}


#my_form{
    display: none;
    margin-left: 55px;
    width: 50%;
    padding: 4em 6em 3em 2em;
    background-color: #000;
    box-shadow: 0px 6px 10px 0px #fff;
}

#add_btn{
    margin: 0;
    left: 45%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 10px;
    display: block;
    font-size: 20px;
}

h1{
    text-align: center;
    color: gold;
    font-family: allan, Arial, Helvetica, sans-serif;
    font-size: 4em;   
}

.book_card{
    background-color: black;
    margin-right: 10px;
    margin-top: 10px;
    min-width: 18em;
    padding: 0px 5px 10px 0px;
    box-shadow: 0px 6px 10px 0px #fff;
    word-wrap: break-word;
}

#show_library{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#submit{
    margin-left: 30px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: green;
}

#cancel{
    margin-left: 30px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: red;
}
label{
    color: gold;
    font-size: 25px;
    font-weight: 700;
}

.book_pages, .book_author, .book_title{
    color: gold;
}






.title, .author, .pages {
    color: #fff;
} 

.title{
    margin-right: 4em;
}

.author{
    margin-right: 3em;
}

.pages{
    margin-right: 3.8em;
}

.book_author, .book_pages, .book_title{
    margin-left: 2em;
    font-size: 20px;
}

#read_form{
    display: flex;
}

#title, #author, #pages{
    font-size: 20px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}

@media only screen and (max-width: 1024px) {
    #my_form{
        margin-left: -0.2em;
    }
}

@media only screen and (max-width: 768px){
    #my_form{
        margin-left: -2em;
    }  
}

@media only screen and (max-width: 425px){
    #my_form{
        margin-left: -70px;
    }  


    .book_card{
        margin-left: 30px;
    }

    .remove_button{
        font-size: 12px;
    }

    .read_button{
        font-size: 12px;
    }
}

@media only screen and (max-width: 375px){
    #my_form{
        margin-left: -70px;
    }    
}

@media only screen and (max-width: 320px){


    .book_card{
        width: 50px;
    }

    .remove_button{
        font-size: 10px;
    }

    .read_button{
        font-size: 10px;
    }

    #my_form{
        margin-left: -90px;
        width: 20%;
    }
}